{% extends "layout.html" %}
{% block content %}
<div class="container">
<center>
{% load staticfiles %}
<center><h1><span class="glyphicon glyphicon-refresh-animate"><img src="{% static "images/logo.jpg" %}" width=350px /></span></h1></center>
<h1><strong> Patient Search Results </strong></h1>

<table>
<tr>
  <th>First Name</th>
  <th>Second Name</th>
  <th>Age</th>
  <th>Institution</th>
</tr>
{% for result in nameresults %}
<tr>
  <td width='35%'>{{ result.firstname }}</td>
  <td width='45%'>{{ result.secondname }}</td>
  <td width='20%'>{{ result.age }}</td>
  <td width='20%'>{{ result.Institution.name }}</td>

   

</tr>
{% endfor %}
</table>

</center>
</div>
{% endblock %}


